.main{
    width: 1000px;
    margin: 0 auto;
    font-size: 13px;
    font-family: "Arial";
    background: #f5f5f5;
    border-collapse: collapse;
}
.bg-grey{
    background-color: #dcdce5;
}
td{
    padding: 0;
}
.wrapper{
    width: 600px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
}




/* ------ */
/* Верх листа */  
.align-txt{
    text-align: right;
}





.bottom{
    padding-top: 30px;
    color: #9999a6;
    text-align: center;
    vertical-align: middle;
    background: #08081a;
}
.copy{
    margin: 22px;
}
.about-bottom{
    margin: 0;
    padding: 15px;
    background: #000014;
}
.about-bottom a{
    color: #fd8300;
    text-decoration: none;
}
