table{
    border-collapse: collapse;
}
.main{
    margin: 0 auto;
    font-size: 13px;
    font-family: "Arial";
    background: #f5f5f5;
    color: #9999a6;
}
.bg-grey{
    background-color: #dcdce5;
}
td{
    padding: 0;
}
.wrapper,
.midle{
    background: #fff;
}
.midle{
    width: 80%;
    margin: 0 auto;
}
.wrapper{
    padding-left: 30px;
    padding-right: 30px;
}
.w100{
    width: 100%;
}
.main .mg-none,
h3{
    margin: 0;
}
.battom{
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;  
    border-radius: 50px;
}
sup{
    font-size: 0.7em;
}

/* ------ */
/* Верх листа */  
.header{
    padding-top: 12px;
    padding-bottom: 12px;
}
.header td{
    width: 50%;
}
.align-txt{
    text-align: right;
}
.tell{
    margin-bottom: 5px;
}
.tell a{
    margin-left: 10px;
    font-size: 16px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}
.about-phone{
    margin-top: 0;
}


/* ------ */
/* середина листа */
.banner{
    display: block;
}
.about-company{
    padding-top: 35px;
    padding-bottom: 50px;
}
h1{
    font-size: 24px;
    color: #24242b;
    font-weight: bold;
    margin: 0;
    margin-bottom: 25px;
}
.about-company p{
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.about-company a{
    background: #fd8300;
}
.advantages{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 18px;
    background-color: #ededf5;
}
.advantages td{
    vertical-align: top;
}
.pad10px{
    padding-left: 10px;
    padding-right: 10px;
}
.advantages h4{
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color:  #24242b;
}
.advantages p{
    margin: 0;
    color: #666666;
}
.advantages-txt{
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
h3 a{
    font-size: 16px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
}
.house-one,
.house-two,
.house-tree{
    padding-top: 20px;
    padding-bottom: 25px;
}
.house-one,
.house-two{
    border-bottom-width: 2px;
    border-bottom-color: #dadae2;
    border-bottom-style: solid;
}
.house-one td,
.house-two td,
.house-tree td{
    width: 50%;
}
.house-one-txt{
    padding-top: 5px;
    padding-left: 20px;
    vertical-align: top;
    line-height: 19px;
}
.house-two-txt{
    padding-top: 5px;
    padding-right: 20px;
    vertical-align: top;
    line-height: 19px; 
}
.sale_bg{
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(https://raw.githubusercontent.com/fisvif/Email/master/hata_plus/images/bg-sale.jpg);
}
.sale{
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
    text-align: center;
}
.sale h2{
    margin: 0;
    margin-bottom: 12px;
    font-size: 24px;
}
.sale p{
    margin-bottom: 30px;
    line-height: 20px;
}
.sale a{
    background: #1f1f55;
}

/* ------ */
/* низ листа */  
.bottom{
    padding-top: 30px;
    color: #9999a6;
    text-align: center;
    background: #08081a;
}
.bottom img{
    margin-left: 5px;
    vertical-align: middle;
}
.copy{
    margin: 22px;
}
.about-bottom{
    margin: 0;
    padding: 15px;
    font-size: 0px;
    text-align: center;
    background: #000014;
}
.about-bottom a{
    font-size: 11px;
    color: #fd8300;
    text-decoration: none;
    padding-left: 7px;
}
.right-line{
    padding-right: 7px;
    padding-left: 0;
    border-right-width: 1px;
    border-right-color: #763d0b;
    border-right-style: solid;
}